@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

.ant-table-filter-dropdown {
	max-height: 400px;
	.ant-checkbox-group {
		max-height: 300px;
		max-width: 500px;
		overflow-y: scroll;
	}
}
