@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

.ant-cascader-menu-item-content {
	max-width: 300px;
	white-space: normal;
}